.CaiApp .CaiAppHeader--btn, .RecastApp .RecastAppHeader--btn{
  display: none;
}

.CaiApp .CaiAppChat, .RecastApp .RecastAppChat{
  height: 100% !important;
  width: 100% !important;
}

.CaiApp .CaiAppLive, .RecastApp .RecastAppLive{
  height: 100% !important;
}

.CaiApp .CaiAppMessage .CaiAppText, .CaiApp .CaiAppMessage .RecastAppText, .RecastApp .RecastAppMessage .CaiAppText, .RecastApp .RecastAppMessage .RecastAppText{
  max-width: 100% !important;
  border-radius: 32px !important;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 40%;
}

.card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.container {
    padding: 2px 16px;
}